/* container que enbloba tudo do header */
.appHeader{

    width: 800px;
    height: 180px;
    background-color: rgb(229, 47, 98);
    border-radius: 20px;

    justify-items: center;
    align-content: center;

    margin-top: 50px;
}

/* titulo do header */
.headerTitle{

    text-align: center;
    font-family: Verdana, sans-serif;

}


.paragrafo{

    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', sans-serif;
    
}

.tempo{

    color: white;
    font-family: 'Lucida Sans', sans-serif;

}